
.firstsectionmys {
  background-color: #FFFFFF;
  font-size: 150%;
  padding: 2%

}

#portfolio {
    text-align: center;
    padding: 60px 0 40px 0;
    background-color: #f0f0f0;
}

h2 {
  color: #00008B;
}

.contactlastms {
  color: #FFFFFF;
}

.eductionms{
  font-size: 150%;
  padding: 2%
}
